doctype html
html
  head
    title balloons admin
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-sortable.css")
    
    script(src="/javascript/jquery-1.7.2.min.js")
    // script(src="/javascript/jquery.tablecloth.js")
    // script(src="/javascript/jquery.tablesorter.min.js")
    // script(src="/javascript/jquery-dateFormat.min.js")
    script(src="/javascript/bootstrap.min.js")
    script(src="/javascript/bootstrap-sortable.js")
    // script(src="/javascript/moment.min.js")


  body
    h1 balloons admin
    //- div(style="width:2000px;")
    table.table.table-striped.table-hover.sortable
      thead
        th color
        th name
        th details
        th message
        //- th email
        th(data-defaultsort="desc") creation date
        th last update
        th history length
        th distance traveled
        th link
      tbody
        each b in balloons
          tr
            td
              div(style="width:20px; height:20px; background:#{b.color}")
            td= b.name
            td
              a(href='/admin/balloon/#{b.linkID}') details
            td= b.message
            //- td= b.email
            td #{b.d} (#{b.d2})
            td #{b.lastUpdate} (#{b.lastUpdateFromNow})
            td #{b.historyLength}
            td(data-value="#{b.distance}") #{b.distance} km
            td
              a(href='/##{b.linkID}') link